#gameBoard {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  width: 512px;
}

#gameBoard .piece {
  display: flex;
  height: 32px;
  margin-left: 8px;
}

.square {
  display: flex;
  height: 64px;
  width: 64px;
  justify-content: center;
  align-items: center;
}

.black-square {
  background: #9e4f4c;
}

.white-square {
  background: #eae1e0;
}

