#gameboard {
  width: 512px;
  height: 512px;
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 64px;
  height: 64px;
  background: gray;
}

.square svg {
  width: 48px;
  height: 48px;
  margin: 5px;
}

.white-square {
  background: #d4bb9a;
}

.black-square {
  background: #763a28;
}

.black {
  fill: rgb(41, 41, 41)
}

.white {
  fill: rgb(236, 236, 236)
}